#chat-screen {
    background-color: #abc1d1;
    height: 11000vh;
}

#chat-screen .alt-screen-header {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
}

#chat-screen .status-bar {
    background-color: #abc1d1;
    z-index: 2;
}

#chat-screen .alt-screen-header {
    background-color: #abc1d1;
    z-index: 1;
}

.main-chat {
    padding-top: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
}

.chat__timestamp {
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    opacity: 0.6;
    border-radius: 25px;
    padding: 8px 15px;
}

.message-row {
    width: 100%;
    display: flex;
    margin-top: 18px;
}

.message-row img {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    margin-right: 10px;
}

.message-row__content {
    display: flex;
    flex-direction: column;
}

.message__bubble {
    background-color: white;
    padding: 12px;
    border-radius: 12px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-right: 5px;
    margin-top: 5px;
    font-size: 20px;
}

.message__titme {
    font-size: 13px;
}

.message__author, .message__titme {
    opacity: 0.6;
    font-weight: 500;
}

.message__info {
    display: flex;
    align-items: flex-end;
}

.message-row--own {
    justify-content: flex-end;
    
}


.message-row--own .message__bubble {
    background-color: var(--default-color);
    order: 1;
    /* order옵션은 flex children에게만 적용된다.*/
    margin-right: 0px;
    margin-left: 5px;
    border-radius: 12px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.message-row--own .message-time {
    order: 0;
}

.reply {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    background-color: white;
    width: 100%;
    padding: 5px 25px;
    box-sizing: border-box;
    z-index: 2;
}

.reply .reply__column:first-child {
    width: 8%;
}

.reply .reply__column:last-child {
    width: 92%;
    position: relative;
}

.reply input {
    height: 30px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 16px 20px;
    box-sizing: border-box;
    font-size: 20px;
}

.reply i {
    opacity: 0.6;
}

.reply__column:last-child i,
.reply__column:last-child button,
.reply__column:last-child button i {
    position: absolute;
    right: 3px;
    top: 2px;
}

.reply__column:last-child > i {
    right: 40px;
    top: 9px;
}

.reply__column:last-child button {
    width: 30px;
    height: 30px;
    background-color:var(--default-color);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.reply__column:last-child button i {
    top: 9px;
    right: 7px;
    opacity: 1;
}