.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9f9fa;
    padding: 20px 30px;
    box-sizing: border-box;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.nav__list {
    display: flex;
}

.nav__btn {
    display: flex;
    justify-content: center;
    width: 25%;
}

.nav__notification {
    background-color: tomato;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    position: absolute;
    bottom: 9px;
    right: 40px;
}

.nav__dot {
    background-color: tomato;
    width: 6px;
    height: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    position: absolute;
    bottom: 19px;
    right: 45px;
}

.nav__btn:nth-child(even) {
    position: relative;
}
